label {
    font-weight: bold;
    font-size: 15px;
}

thead tr {
    border-bottom: 2px solid #00F0FF;
}

.boiteinc {
    border: 3px solid white;
    background-color: lightgrey;
}

.modif {
    color: grey;
}

h5:last-of-type {
    padding: 10px;
}

#cercle_state {
    border: 1px solid black; 
    width: 150px; 
    height: 150px;
    margin-top: 15%; 
    background-color: #45E92B;
    box-shadow: 5px 5px 10px 0 #c9c9c9;
}
 
.red_text {
    color: red; 
    font-size: 12px;
}

.form-check-input:checked {
    background-color: #1E4095;
    border-color: grey;

}

#collapsePwd:hover {
    transform: scale(1.125);
    cursor: pointer;
}

.tooltipPwd {
    position: relative;
    display: inline-block;
}

.tooltipPwd .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #1E4095;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -45px;
}
.tooltipPwd:hover .tooltiptext{
    visibility: visible;
}

.btn-outline-primary {
    color: #1E4095;
}

.btn-outline-secondary:hover {
    background-color: #1E4095;
}

.box-scroll-div {
    height: 20vh;
    overflow-y: scroll;
    box-shadow: 5px 5px 15px 0 #c9c9c9;
    padding-right: 0;
}

.box-scroll-div::-webkit-scrollbar {
    width: 12px;
}

.box-scroll-div::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
}

.box-scroll-div::-webkit-scrollbar-thumb {
    background-image: linear-gradient(205deg, #00F0FF 0%, #1E4095 20%, #1E4095 80%, #00F0FF 100%);
    border-radius: 100px;
}